<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <h1 class="text-center mb-3">User profile</h1>
            <div class="card">
                <div class="card-body text-center">
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                        
                        <div class="form-group mb-3 mt-3 text-start">
                            <label for="email" class="form-label">Email address</label>
                            <input type="email" formControlName="email" class="form-control" id="email"
                                aria-describedby="emailHelp">
                            <div *ngIf="isSubmitted && profileForm.get('email')?.invalid">
                                <ng-container [ngTemplateOutlet]="errorTemplate"
                                    [ngTemplateOutletContext]="{ errors: profileForm.get('email')?.errors, fieldName: 'Email' }">
                                </ng-container>
                            </div>
                        </div>
                        <div class="form-group mb-3 text-start">
                            <label for="currentPassword" class="form-label">Current password</label>
                            <input id="currentPassword" type="password" class="form-control"
                                formControlName="currentPassword">
                            <div *ngIf="isSubmitted && profileForm.get('currentPassword')?.invalid">
                                <ng-container [ngTemplateOutlet]="errorTemplate"
                                    [ngTemplateOutletContext]="{ errors: profileForm.get('currentPassword')?.errors, fieldName: 'Current password' }">
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group mb-3 text-start">
                            <label for="newPassword" class="form-label">New password</label>
                            <input id="newPassword" type="password" class="form-control" formControlName="newPassword">
                            <div *ngIf="isSubmitted && profileForm.get('newPassword')?.invalid">
                                <ng-container [ngTemplateOutlet]="errorTemplate"
                                    [ngTemplateOutletContext]="{ errors: profileForm.get('newPassword')?.errors, fieldName: 'New password' }">
                                </ng-container>
                            </div>
                        </div>

                        <div class="form-group mb-3 text-start">
                            <label for="newPasswordAgain" class="form-label">New password (again)</label>
                            <input id="newPasswordAgain" type="password" class="form-control"
                                formControlName="newPasswordAgain">
                            <div *ngIf="isSubmitted && profileForm.get('usernewPasswordAgainname')?.invalid">
                                <ng-container [ngTemplateOutlet]="errorTemplate"
                                    [ngTemplateOutletContext]="{ errors: profileForm.get('newPasswordAgain')?.errors, fieldName: 'New password again' }">
                                </ng-container>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-outline-dark text-center" [disabled]="!profileForm.valid">Update Profile</button>
                    </form>
                    <p class="text-danger mt-2" *ngIf="errorMessage">{{ errorMessage }}</p>

                    <ng-template #errorTemplate let-errors="errors" let-fieldName="fieldName">
                        <ng-container *ngFor="let error of errors | keyvalue">
                            <ng-container *ngIf="!!fieldName">
                                <div class="text-red" *ngIf="error.key === validatorErrors.required">
                                    {{ fieldName + ' ' + 'required' }}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!fieldName">
                                <div class="text-red">
                                    {{ error.value }}
                                </div>
                            </ng-container>
                        </ng-container>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>