/* You can add global styles to this file, and also import other style files */
.brand {
    color: #ffc107;
    font-weight: bold;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}
